__pycache__/
*.pyc
.ipynb_checkpoints
/data/
!/data/*.py
/models/
*.ipynb
*.hdf5
.vscode/
.Trash-1000/
/*.zip
/*.rar
/*.png
/save/*
#!/save/01f.tar
#!/save/01-10g.tar
/0*.py
/GreedyTraining_5x5_400_180x180_sigma=25.mat
/runs/
/tmp*
